<mat-selection-list #list class="contact-list">
  <mat-list-option
    [id]="i"
    class="contact-list-option"
    *ngFor="let item of items; index as i"
    checkboxPosition="before"
    [value]="item"
  >
    <div class="list-item" (click)="onClick($event)">
      <app-contact
        [id]="item.id"
        [firstName]="item.firstName ? item.firstName : 'No'"
        [lastName]="item.lastName ? item.lastName : 'Name'"
        [company]="item.organization"
      >
      </app-contact>
    </div>
  </mat-list-option>
</mat-selection-list>
